@import url(https://fonts.googleapis.com/css?family=Lato);
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #141414;
}

::-webkit-scrollbar-thumb {
  background-color: #302f2f;
  border-radius: 10px;
}


body {
  /* background-color: #D2E0FB; */
  background-color: #ffeef4;
  background: #000;
  max-width: 100%;
}

h1 {
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Young Serif', serif;
  font-size: 3rem;
  color: #fff;
  -webkit-text-stroke: 2px #fffba4;
  margin-top: 30px;
  animation: changeStrokeColor 8s infinite;
}

@keyframes changeStrokeColor {

  0%,100% {
    -webkit-text-stroke: 0.1rem #fffba4;
  }

  25% {
    -webkit-text-stroke: 0.1rem #d2b863;
  }

  50% {
    -webkit-text-stroke: 0.1rem #ad832d;
  }

  75% {
    -webkit-text-stroke: 0.1rem #3d2e10;
  }
}

.container  {
  display: grid;
  place-items: center;
  padding: 12px;
  gap: 8px;
}

.Card {
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 215x;
  max-width: 315px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.4em;
  background-color: #141414;
  margin-top: 0;
  border-top-right-radius: 10%;
  margin-left: 2.5%;
}

.Card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.Card .profile-image {
  padding: 10% 8% 0;
}

.Card .profile-image img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  max-width: 40%;
}

.Card figcaption {
  padding: 2% 10% 10%;
}

.Card h3 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.Role {
  /* font-weight: 400; */
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
  margin-bottom: 25px;
  margin-top: 5;
  font-weight: normal;
}

.Main {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  color: wheat;
  letter-spacing: 1px;
  margin-bottom: 25px;
  margin-top: 5;
}

.Main:hover {
  color: #fff;
}

.line {
  border-top: 1px solid grey;
  margin-bottom: 20px;
  opacity: 0.5;
  width: 90%;
  margin-left: 13px;
}

.Quote {
  font-family: "Poppins", sans-serif;
}

.Card .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}

#github:hover {
  color: #fff;
  transform: scale(1.2);
}

#twitter:hover {
  color: #0892e1;
  transform: scale(1.2);
}

#linkedin:hover {
  color: #0177b4;
  transform: scale(1.2);
}

.Card .icons i a {
  text-decoration: none;
}

/* footer */

.credit {
  position: relative;
  font-family: "Source Code Pro", monospace;
  color: #fff;
}

@keyframes cardAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.Card {
  animation: cardAnimation 0.5s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
  transform: translateY(50px);
}

.Card .icons i {

transition: color 0.3s ease; 
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

 /**
  * responsive for larger than 768px screen
  */

@media(min-width: 768px) {

  .container {
    grid-template-columns: 1fr 1fr;
  }
}

 /**
  * responsive for larger than 992px screen
  */

  @media(min-width: 992px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

 /**
  * responsive for larger than 1480px screen
  */

  @media(min-width: 1280px) {
    .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }


 /**
  * responsive for larger than 1980px screen
  */

  @media(min-width: 1980px) {
    .container {
      grid-template-columns: repeat(5, 1fr);
    }
  }
=======
  transition: color 0.3s ease;
}

